

<div class="container-fluid">
  <div class="row justify-content-center">


    <div class="card_login">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
          <section class="email">
            <div>
              <img src="./assets/login/logoGuerreros.png" class="logo" />
            </div>

            <p class="Titulo">
              ¡Felicidades! {{name}} , tu registro ha sido completado
            </p>


            

            
              <div>
                <button class="btn_ingresar" routerLink='/usuarios/'>Aceptar</button>
              </div>
            


          </section>


        </div>

      </div>

    </div>

  </div>
</div>


