<app-header></app-header>

<div>
  <div class="spacer"></div>
  <div class="container-fluid padding-top">
    <div class="row justify-content-center">

      <div class="col-3 d-none d-md-block">
        <div class="menu-fijo justify-content-left">


          <p class="menu" [routerLink]="['/dashboard']">
            <span class="material-icons-outlined">
              dashboard
            </span>
            Dashboard
          </p>
          <p class="menu" [routerLink]="['/usuarios']">
            <span class="material-icons-outlined">
              account_circle
            </span>
            Usuarios
          </p>
          <p class="menu active-menu" [routerLink]="['/enlistapostulantes']">
            <span class="material-icons-outlined">
              checklist
            </span>
            Postulaciones
          </p>
          <p class="menu" [routerLink]="['/enlistaestudios']">
            <span class="material-icons-outlined">
              biotech
            </span>
            Estudios clínicos
          </p>
          <p class="menu" [routerLink]="['/enlistaApoyos']">
            <span class="material-icons-outlined">
              library_books
            </span>
            Programas de apoyo
          </p>
          <p class="menu" [routerLink]="['/news']">
            <span class="material-icons-outlined">
              campaign
            </span>
            Noticias
          </p>


        </div>
      </div>

      <div class="col-12 col-md-9">

        <div class="row">
          <div class="col-3 end">
            <button class="btn" routerLink='/addpostulante/'>
              Agregar
              <span class="material-icons">people</span>
            </button>
          </div>

        </div>

        <div class="row">
          <div class="spacer"></div>
          <br />
        </div>

        <div class="row">
          <div class="col-3">
            <span style="font-weight: bold;">Fecha inicial:</span>
            <div class="form-group">
              <input class="form-control" type="date" [(ngModel)]="fechaInicial" (ngModelChange)="getPostulaciones()" cols="100" id="hobbies"
                     placeholder="Ingrese el nombre de la vacante">
            </div>
          </div>

          <div class="col-3">
            <span style="font-weight: bold;">Fecha final:</span>
            <div class="form-group">
              <input class="form-control" type="date" [(ngModel)]="FechaFinal" (ngModelChange)="getPostulaciones()" cols="100" id="hobbies"
                     placeholder="Ingrese el nombre de la vacante">
            </div>
          </div>


          <div class="col-3">
            <span style="font-weight: bold;">Medico:</span>

            <select class="form-control" [(ngModel)]="medicoId" (change)="getPostulaciones()">
              <option [value]="0">
                -Todos-
              </option>
              <option *ngFor="let item of medicos" [value]="item.id">
                {{item.nombreMedico}}
              </option>
            </select>

          </div>

          <div class="col-3">
            <span style="font-weight: bold;">Codígo del paciente:</span>

            <select class="form-control" [(ngModel)]="pacienteId" (change)="getPostulaciones()">
              <option [value]="0">
                -Todos-
              </option>
              <option *ngFor="let item of pacientes" [value]="item.codigoPaciente">
                {{item.codigoPaciente}}
              </option>
            </select>

          </div>

          <div class="row">
            <br />
          </div>

          <div class="row">

            <div class="col-12 col-md-11">
              <div class="table-responsive">
                <table class="table  table-condensed">
                  <thead>
                    <tr>
                      <th>
                        Codigo Paciente
                      </th>
                      <th>
                        Estatus
                      </th>
                      <th>
                        Médico
                      </th>
                      <th>
                        Tipo Estudio
                      </th>
                      <th>
                        Fecha Postulacion
                      </th>
                      <th>

                      </th>
                      <th>

                      </th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of result">

                    <tr class="spacer">




                      <td>

                        {{ item.pacienteId }}


                      </td>

                      <td>
                        {{ item.estatus }}

                      </td>

                      <td>
                        {{ item.medico }}
                      </td>

                      <td>
                        {{ item.tipoEstudio }}
                      </td>

                      <td>
                        {{ item.fechaPostulacion | date :'short' }}
                      </td>

                      <td>
                        <button class="btn" (click)="modalDetallePostulacion(item.id);">
                          
                          Detalle

                        </button>
                      </td>

                      <td>
                        <button class="btn" (click)="enviaUpdate(item.id);">
                          
                          Actualizar
                        </button>
                      </td>

                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>


      </div>



    </div>


  </div>
</div>






<ng-template #pdetalleModal let-modal>
  <div class="modal-header col-form">
    <h1>Detalle de la postulación</h1>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>

    </button>
  </div>
  <div class="modal-body col-form">

    <div class="card">
      <div class="card-header">
       Código del paciente: {{resultdetalle.pacienteId}}
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <p class="card-text">Padecimiento: {{resultdetalle.padecimiento}}</p>
            <p class="card-text">Datos relevantes: {{resultdetalle.informacionRelevante}}</p>
            
            <p class="card-text">Fecha postulacion: {{resultdetalle.fechaPostulacion | date: 'dd/MM/yyyy'}}</p>

          </div>
          <div class="col-2">

          </div>
          <div class="col-5">
            <p class="card-text" style="font-weight: bold;font-size: 17px;color:blue;">Estatus: {{resultdetalle.estatus}}</p>
            <p class="card-text">
              Tipo estudio:{{resultdetalle.tipoEstudio}}
            </p>
            <p class="card-text">
              Información del estudio:
              {{resultdetalle.estudioMedico}}
            </p>

          </div>
        </div>
      </div>
    </div>



  </div>
  <div class="modal-footer col-form">
    <!--<button class="guardar" (click)="saveEsperiencia()">Guardar</button>-->
  </div>
</ng-template>
