<div class="container">
  <div class="row justify-content-md-center">


    <div class="card">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
          <section>

            <p class="Titulodos">
              ¿Olvidaste tu contraseña?
            </p>

            <p class="parrafo">
              ¡No te preocupes,<br /> Escribe tu correo electrónico<br /> con el que te registraste,
              y recibe<br /> indicaciones para<br /> recuperar tu cuenta.
            </p>

            <form [formGroup]="new" (ngSubmit)="enviapassword()">
              <div class="form-group has-search" [ngClass]="{'error': ((isError && !new.controls.email.valid) || !islogued)}">


                <div class="inputContainer">

                  <input formControlName="email" [(ngModel)]="email" required name="email" class="form-control Rectangle_text" type="text"
                         placeholder="Direcci&oacute;n de email" />
                </div>
                
                <div *ngIf="isError && !new.controls.email.valid" style="margin-top: -45px;">
                  <small>
                    <span class="material-icons">
                      warning_amber
                    </span>
                    {{getError()}}
                  </small>
                </div>

                
              </div>


              <div>
                <button class="btn_ingresar">Recuperar</button>
              </div>
            </form>



          </section>

        </div>

      </div>

    </div>

  </div>
</div>
